// Botstrap color overrides
$primary: rgb(122 0 124);
$secondary: rgb(102 112 133);
$success: rgb(101 122 50);
$warning: rgb(177 95 24);
$info: rgb(36 116 178);
$danger: rgb(206 44 3);
$light: rgb(248 249 250);
$dark: rgb(27 29 27);
