// ===============================
// SDAD - Bootstrap Theme
// ===============================

// Theme color definitions
$night: rgb(22 0 124);
$grape: rgb(123 28 88);
$violet: rgb(204 205 229);
$apricot: rgb(244 196 127);
$tomato: rgb(206 44 3);
$tea: rgb(205 223 160);
$stone: rgb(27 29 27);
$light: rgb(248 249 250);

// Botstrap color overrides
$primary: $night;
$secondary: $violet;
$success: $tea;
$warning: $apricot;
$info: $grape;
$danger: $tomato;
$light: $light;
$dark: $stone;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "bootstrap/scss/bootstrap";

body {
  color: $stone;
}

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Animated hamburger menu
.hamburger {
  gap: 6px;
}

.bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: $info;
  border: 1px solid $info;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.is-active:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.is-active:nth-child(2) {
  opacity: 0;
}

.is-active:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

// Small screen navbar hover effect
.nav-link {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--bs-secondary-bg);
  }
}

// Small screen navigation animation
.navbar-collapse {
  @include media-breakpoint-down(md) {
    overflow: hidden;
    transition:
      max-height 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
}

.nav-collapsed {
  @include media-breakpoint-down(md) {
    max-height: 0;
    opacity: 0;
  }
}

.nav-expanded {
  @include media-breakpoint-down(md) {
    max-height: 300px;
    opacity: 1;
  }
}
